@import url('bulma/css/bulma.css');

html {
  overflow-y: hidden;
}

a {
  outline: 0 !important;
}

button::-moz-focus-inner {
  border: 0;
}

span.custom {
  margin-right: 10px;
  top: 3px;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.padding-15 {
  padding: 16px !important;
}

.padding-horizontal-10 {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.margin-horizontal-10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}

#input-helper {
  font-size: 0.8rem;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0.5rem !important;
}
